-i https://pypi.org/simple/
asgiref==3.3.4
click==7.1.2
django==3.1.8
gunicorn==20.0.4
h11==0.9.0
httptools==0.1.1 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
psycopg2-binary==2.8.5
pymongo==3.11.0
pytz==2021.1
sqlparse==0.4.1
uvicorn==0.11.8
uvloop==0.15.2 ; sys_platform != 'win32' and sys_platform != 'cygwin' and platform_python_implementation != 'PyPy'
websockets==8.1
